$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-max: 767px;

//colors
$black: #333333;
$white: #ffffff;
$base_secondary: #f0ebff;
$base_primary: #7859cf;
$flat_white: #f3ebe1;
$special_ligh-grey: #e6e6e6;
$line-grey: #d9d9d9;
$lightgrey: #f2f2f2;
$special_ligh-grey1: #eaeaea;
$green: #68b738;
$green-special: #5eaa2f;
$grey-form: #e7e7e7;
$grey-catalog: #ebebeb;
$footer_ligh-grey: #666666;
