$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-max: 767px;

//colors
$black: #333333;
$white: #ffffff;
$base_secondary: #f0ebff;
$base_primary: #7859cf;
$flat_white: #f3ebe1;
$lightestgrey: #f8f8f8;
$base-grey: #bdbdbd;
$light-grey: #e2e2e2;
$primary-lighter: #9070ec;
$base-colors: #593cac;
$base-secondary: #f0ebff;
