.catalog {
  padding-top: 48px;
  background-color: $lightestgrey;
  text-align: center;
}

.catalog__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.catalog__wrapper {
  text-align: left;
}

.catalog__form {
  margin-bottom: 36px;

  & fieldset {
    @include fieldset-edit;
  }
}

.catalog__products {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 78px;
  }

  .catalog__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
  }

  .catalog__form {
    margin-bottom: 35px;
  }

  .catalog__products {
    padding-bottom: 90px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 98px;
  }

  .catalog__title {
    margin-bottom: 40px;
  }

  .catalog__wrapper {
    display: flex;
    column-gap: 30px;
  }

  .catalog__products {
    padding-bottom: 120px;
  }
}
