.contact-map {
  padding: 0;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../icons/map-pin.svg");
    position: absolute;
    width: 38px;
    height: 50px;
    top: 44%;
    left: 49%;
  }
}

.contact-map img {
  width: 100%;
  display: block;
}

