.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    padding: 0 40px;
  }
}

.container--header {
  padding-right: 0;
}
