.form {
 display: flex;
 flex-direction: column;
 row-gap: 30px;
}

.form__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 30px;
  padding: 0;
}

.form__filter-list {
  @include list-reset;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: -10px;
}

.form__wrap-button {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__button {
  font-size: 16px;
  line-height: 24px;
}
