.header {
  color: #333333;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.header__wrapper {
  display: flex;

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}

