.nav {
  display: grid;
  position: relative;
  width: auto;
  min-height: 57px;
}
.nav__user {
  @include list-reset;
  grid-column: 1/2;
  grid-row: 1/2;
}

.nav__menu {
  grid-column: 2/3;
  grid-row: 1/2;
}

@media (min-width: $tablet-width){
  .nav {
    display: flex;
    column-gap: 60px;
    justify-content: space-between;
    min-width: 580px;
    margin-right: 20px;
  }
}
@media (min-width: $desktop-width){
  .nav {
    column-gap: 160px;
  }
}
