.range__scale {
  margin-bottom: 36px;
  padding: 0 10px;
}

.range__horizontal {
  height: 2px;
  background-color: $light-grey;
  border: none;
}

.range__connect {
  background-color: $primary-lighter;
}

.range__horizontal .range__handle {
  width: 24px;
  height: 24px;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  background-color: $white;
  right: -12px;
  top: -11px;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $white;
    top: 2px;
    left: 2px;
  }

  &::after {
    content: none;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $base_primary;
      opacity: 0.25;
    }
  }

  &:active {
    &::before {
      background-color: $base_primary;
    }
  }
}

.range__input {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 118px;
  height: 40px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;

  &:focus {
    border: 2px solid $base-colors;
  }
}

.range__dash {
  width: 8px;
  height: 2px;
  background-color: $base-grey;
  margin-top: 19px;
}

.range__inputs {
  display: flex;
  justify-content: space-between;

  *:disabled {
    border: 2px solid $light-grey;
  }
}

@media (min-width: $tablet-width) {
  .range__input {
    width: 87px;
  }

  .range__scale {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .range__dash {
    width: 10px;
  }

  .range__input {
    width: 134px;
  }

  .range__scale {
    margin-bottom: 32px;
  }
}
