.site-menu {
  display: flex;
  flex-direction: column;
}

.site-menu__item {
  min-height: 57px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  text-align: center;
  border-bottom: 1px solid $base_secondary;

  &:first-child {
    border-top: 1px solid $base_secondary;
  }

  &:active {
    background-color: $base_secondary;
  }

  &:hover,
  &:focus {
    color: $base_primary;
  }
}

.site-menu__link {
  @include link-edit;
}

@media (min-width: $tablet-width) {
  .site-menu {
    flex-flow: row wrap;
  }

  .site-menu__item {
    min-height: 80px;
    padding: 31px 21px;
    border: none;

    &:first-child {
      border-top: none;
    }

    &--current {
      border-bottom: 2px solid $base_primary;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-menu {
    column-gap: 20px;
  }
}
