.slider {
  width: 320px;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding: 20px 0 45px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-top: 56px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-top: 30px;
  }
}

.slider__list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider__nav {
  position: relative;
}

.slider__control {
  background: inherit;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: -284px;
  transform: translateY(-50%);
  width: 20px;
  height: 656px;
}

.slider__control--prev {
  left: 0;

  &::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 20px;
    background-image: url("../../icons/vector_slider.svg");
    left: 3px;
    top: 318px;
  }

  &:hover {
    background: linear-gradient(90deg, $white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    &::before {
      background-image: url("../../icons/vector_slider_disabled.svg");
    }
  }
}

.slider__control--next {
  right: 0;

  &::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 20px;
    background-image: url("../../icons/vector_slider.svg");
    top: 318px;
    right: 3px;
    transform: scaleX(-1);
  }

  &:hover {
    background: linear-gradient(-90deg, $white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    &::after {
      background-image: url("../../icons/vector_slider_disabled.svg");
      transform: scaleX(-1);
    }
  }
}

.slider__pagination {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__control {
    width: 80px;
    height: 714px;
    top: -472px;
  }

  .slider__control--prev::before {
    left: 34px;
    top: 310px;
  }

  .slider__control--next::after {
    right: 34px;
    top: 310px;
  }

  .slider__pagination {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: $desktop-width) {
  .slider__nav {
    height: 5px;
    margin-bottom: 60px;
    margin-top: 12px;
  }

  .slider__control {
    width: 80px;
    top: -289px;
  }

  .slider__control--prev::before {
    top: 345px;
  }

  .slider__control--next::after {
    top: 345px;
  }

  .slider__pagination {
    @include list-reset;
    display: flex;
    column-gap: 8px;
    position: absolute;
    left: 43%;
    bottom: 9%;
    margin: 0;
  }
}
