.slide {
  min-width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.slide__img {
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.slide__badge {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: $base_primary;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.slide__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  margin-bottom: 10px;
}

.slide__text {
  margin: 0 20px;
  margin-bottom: 20px;
}

.slide__buy {
  text-align: left;
  margin: 0 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.slide__old-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: $base_primary;
  text-decoration: line-through;
}

.slide__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 20px;
}

.slide__button {
  width: 110px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .slide__description {
    grid-row: 1/2;
    padding-left: 80px;
    padding-right: 80px;
  }

  .slide__title {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  .slide__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }

  .slide__buy {
    margin-bottom: 20px;
    text-align: center;
  }

  .slide__button {
    font-size: 16px;
    line-height: 24px;
  }
}
